<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Decrypt Text</title>
	<link href="/style.css" rel="stylesheet" type="text/css" />
</head>


<body>
	<h1>Decryption Tool</h1>
	<div class="content">
	<form action='/decrypt' method='post'>
  		Encrypted text: 
  		<textarea name="words" cols=40 rows=4>Input encrypted message here</textarea>
  		<br>Key: 
  		<input type="text" name="key">
  		<input type="submit">
	</div>
</body>
</html>