<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Decrypted Text</title>
	<link href="/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<h1>Your Decrypted Message (there aren't any spaces):</h1>
	<div class="content" name="results">
		<%= @decrypted %>
	</div>
</body>
</html>